RewriteEngine On
# Chuyển đổi địa chỉ không phải file hoặc thư mục thực tế thành request đến index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Rewrite tất cả các requests đến index.php
RewriteRule ^ index.php [QSA,L]

#cau hinh item?id
RewriteRule ^item$ /item.php [QSA,L]
#cau hinh delete?id
RewriteRule ^delete$ /delete.php [QSA,L]
#cau hinh edit?id
RewriteRule ^update$ /update.php [QSA,L]